@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Trispace:wght@500;800&display=swap');

html{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #330044 , #160020);
}
body{
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 17em;
    position: relative;
    margin-top: 15%;
    font-family: 'Trispace', sans-serif;
}

.div{
    background-image: linear-gradient(to right, #6a39d4 , #874ba3);
    padding: 50px 50px;

}

button{
  font-family: 'Trispace', sans-serif;
}

.buttonPurple {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;
    color: #FFF;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    
  }
  .buttonPurple:before {
    height: 0%;
    width: 2px;
  }
  .buttonPurple:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  
  