html{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #330044 , #160020);
}

body{
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    margin: 70px 0px;
}

button{
    background: #000;
    color: #fff;
    margin: 5px;
}

h1{
    color: #EBEEF0;
    padding: 0;
    margin-top: 0;
}

div{
    background-image: linear-gradient(to right, #6a39d4 , #733d8b);
}
.row-1{
    background-color: #6d2aff;
    padding: 50px 50px;

}
.row-2{
    background-color: #6d2aff;
    padding: 50px 50px;
}
.row-3{
    background-color: #6d2aff;
    padding: 50px 50px;
}

.rgb {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.rgb:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.rgb:active {
    color: #000;
}

.rgb:active:after {
    background: transparent;
}

.rgb:hover:before {
    opacity: 1;
}

.rgb:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
